<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118976341312-q4p0h6c2r52e0c420gq4t148e2ug4nk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118976341312-q4p0h6c2r52e0c420gq4t148e2ug4nk3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>118976341312-f8dodosvsp38vgta3aps17cm0oq71lv1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBd9vueHXzixSuttmLOeypwXKM3B3JjymM</string>
	<key>GCM_SENDER_ID</key>
	<string>118976341312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oma.omaliving</string>
	<key>PROJECT_ID</key>
	<string>oma-olv</string>
	<key>STORAGE_BUCKET</key>
	<string>oma-olv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118976341312:ios:5a7b37ea93f47b655646a5</string>
</dict>
</plist>